@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(./images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 10px;
    align-items: center;
    margin: auto;
    justify-content: center;
    min-height: 100vh;
}

.container > div {
    flex: 1;
    padding: 0 40px;
}

h1 {
    font-size: 45px;
    line-height: 1.2;
}

p {
    opacity: 0.8;
    font-size: 15px;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.box p{
    margin: 0;
}

.box-blue {
    background-color: hsl(248, 32%, 49%);
    font-family: 'Poppins', sans-serif;
}

form {
    padding: 30px !important;
}

button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 15px 0 12px;
    color: #fff;
    font-size: 14px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-bottom: 4px solid hsl(154, 66%, 40%);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
}

.form-control {
    position: relative;
}

.form-control small {
    display: none;
}

.form-control.error input{
    border: 2px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.error-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    visibility: hidden;
}

.form-control.error .error-icon {
    visibility: visible;
}

input {
    border-radius: 5px;
    padding: 15px 25px;
    display: block;
    width: 100%;
    border: 1px solid hsl(0, 0%, 74%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 17px;
}

input:focus {
    outline: none;
    border: 1px solid hsl(248, 32%, 49%);
}

button:focus {
    outline: none;
}

button:active {
    background-color: hsl(154, 64%, 56%);
    border-bottom: 2px solid hsl(154, 42%, 44%);
    transform: translateY(2px);
    margin-bottom: 2px;
}

small {
    display: block;
    color: #aaa;
    font-size: 0.6em;
    margin-bottom: 17px;
    text-align: right;
    padding-right: 3px;
    font-weight: 500;
    margin-top: -10px;
}

.form-control small {
    color: hsl(0, 100%, 74%);
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.terms-and-service {
    margin-top: 13px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
    }

    h1, p {
        text-align: center;
    }

    .container > div {
        flex: 0;
    }

    .container div:first-child:not(.form-control) {
        margin-bottom: 40px;
    }
}